<d-header>
  <style>
    d-header {
      display: block;
      align-items: center;
      background-color: {{ .Site.Params.theme_color }};
      padding: 0.75em 4em;
      z-index: 2;
      color: rgba(0, 0, 0, 0.8);
      border-bottom: 1px solid rgba(0, 0, 0, 0.08);
      box-shadow: 0 1px 6px rgba(0, 0, 0, 0.05);
    }

    d-header .content {
      /* clear: both; */              /* keep inner divs from extending below ribbon */
      display: flex;                  /* establish flex container */
      flex-direction: row;            /* default value; can be omitted */
      flex-wrap: nowrap;              /* default value; can be omitted */
      justify-content: space-between; /* switched from default (flex-start, see below) */
    }

    d-header a {
      text-decoration: none;
      color: rgba(255, 255, 255, 0.8);
    }
    d-header a:hover {
      color: white;
    }

    d-header .nav {
      float: right;
      font-weight: 300;
    }
    d-header .nav a {
      font-size: 0.94em;
      margin-left: 1.5em;
    }

    d-header .logo {
      font-size: 1.5em;
    }

    d-header .logo > img {
      position: relative;
      margin-top: -0.16em;
      margin-bottom: -0.24em;
    }
  </style>

  <div class="content">
    <div> <!-- logo / title -->
      <a href="/" class="logo" alt="{{ .Site.Title }}">
        {{ if .Site.Params.logo }}
          <img src="{{ .Site.Params.logo}}"/>
        {{ else if .Site.Title }}
          {{ .Site.Title }}
        {{ end }}
      </a>
    </div>
    <div> <!-- center section -->
    </div>
    <div class="nav"> <!-- menu -->
        {{ if .Site.Params.dark_mode_feature }}
          <a id="dark-mode-toggle" class="fa-solid fa-moon" alt="Toggle dark mode" style="cursor: pointer;"></a>
        {{ end }}
      {{ range .Site.Menus.main }}
        <a href="{{ .URL }}">{{ .Title }}</a> 
      {{ end }}
      {{ if .Site.Params.social_in_menu }}
        {{ partial "social" . }}
      {{ end }}
      {{ if .Site.Params.rss_in_menu }}
        <a target="_blank" href="{{ with .OutputFormats.Get "RSS" }}{{ .RelPermalink }}{{ end }}"><i class="fa fa-rss"></i></a>
      {{ end }}
    </div>
  </div>
</d-header>