<link rel="preload" href="/fonts/fontawesome/css/fontawesome.min.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
<link rel="preload" href="/fonts/fontawesome/css/brands.min.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
<link rel="preload" href="/fonts/fontawesome/css/solid.min.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
<noscript><link rel="stylesheet" href="/fonts/fontawesome/css/fontawesome.min.css"></noscript>
<noscript><link rel="stylesheet" href="/fonts/fontawesome/css/brands.min.css"></noscript>
<noscript><link rel="stylesheet" href="/fonts/fontawesome/css/solid.min.css"></noscript>


<!-- Distill can load KaTeX -->
<!-- <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/katex@0.10.0-beta/dist/katex.min.css" integrity="sha384-9tPv11A+glH/on/wEu99NVwDPwkMQESOocs/ZGXPoIiLE8MU/qkqUcZ3zzL+6DuH" crossorigin="anonymous"> -->

<style>
  @font-face {
      font-family: 'Lexend';
      font-style: normal;
      font-weight: 300;
      src: url('/fonts/lexend-v14-latin/lexend-v14-latin-300.eot'); /* IE9 Compat Modes */
      src: local(''),
           url('/fonts/lexend-v14-latin/lexend-v14-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
           url('/fonts/lexend-v14-latin/lexend-v14-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
           url('/fonts/lexend-v14-latin/lexend-v14-latin-300.woff') format('woff'), /* Modern Browsers */
           url('/fonts/lexend-v14-latin/lexend-v14-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
           url('/fonts/lexend-v14-latin/lexend-v14-latin-300.svg#Lexend') format('svg'); /* Legacy iOS */
      font-display: swap;
    }
    
    
  p {
      font-family: "Lexend", Helvetica, Arial, sans-serif;
      font-weight: 300;
  }
  </style>